<nav>
  <p>Portfolio</p>
  <ul>
    <li>Inicio</li>
    <li>Minhas Habilidades</li>
    <li>Projetos</li>
  </ul>
</nav>

<main>
  <h1>Olá, me chamo Fabrício Suhet</h1>
  <h2>Back End Developer Jr</h2>
  <img src="../assets/img/uuu.png" alt="aqui tera uma img" width="300">
  <div>
    <h3>Sobre Mim</h3>
    <p>Formado em Análise e Desenvolvimento de Sistemas. Desenvolvedor Back-End com pequenos lampejos no Front-End usando Angular.
      Apaixonado por tecnologia e viciado em desafios e em busca da primeira oportunidade profissional.
    </p>
  </div>
  <div>
    <ul>
      <li>incio</li>
      <li>github</li>
      <li>linkedin</li>
      <li>email</li>
      <li>whatsapp</li>
    </ul>
  </div>
</main>

